@page
@model RazorPages.Pages.Rooms.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<div>
    <form method="get">
        <input asp-for="SearchString" type="text" />
        <input type="submit" value="Filter" />
    </form>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RoomInformation[0].RoomNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RoomInformation[0].RoomDetailDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RoomInformation[0].RoomMaxCapacity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RoomInformation[0].RoomStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RoomInformation[0].RoomPricePerDay)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RoomInformation[0].RoomType)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.RoomInformation) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RoomNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RoomDetailDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RoomMaxCapacity)
            </td>
            <td>
                    @if (item.RoomStatus == 1)
                    {
                        <p>Active</p>
                    }
                    else if (item.RoomStatus == 0)
                    {
                        <p>Inactive</p>
                    }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RoomPricePerDay)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RoomType.RoomTypeName)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.RoomId">Edit</a> |
                <a asp-page="./Delete" asp-route-id="@item.RoomId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
